<div class="project-list">
    {% assign sorted_projects = site.projects | sort: 'date' | reverse %}
    {% for project in sorted_projects limit:include.limit %}
      <div class="project-card">
        <h2 class="project-title">
          <a href="{{ site.url }}{{ project.url }}">{{ project.title }}</a>
        </h2>
        {% if project.image %}
          <img src="{{ site.url }}/images/{{ project.image }}" alt="{{ project.title }}" class="project-image">
        {% endif %}
        <p class="project-excerpt">{{ project.excerpt | strip_html | truncate: 160 }}</p>
        <p class="project-meta">
          <span class="project-date">{{ project.date | date: "%B %d, %Y" }}</span>
          {% if project.tags %}
            <span class="project-tags">
              {% for tag in project.tags %}
                <a href="{{ site.url }}/tags/#{{ tag }}" class="tag">{{ tag }}</a>
              {% endfor %}
            </span>
          {% endif %}
        </p>
      </div>
    {% endfor %}
  </div>