<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="page">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <div class="article-wrap">
      {{ content }}


<h3 style="margin-bottom:0px;padding-top:10px;">Service & Giving Back</h3>

<h3 style="margin-bottom:0px;padding-top:10px;">Interests</h3>
<div style="padding-left:20px;">
    <h4 style="margin-bottom:0px;padding-top:10px;">Detective Fiction</h4>
        <ul> 
          <li> I read and reflect on great detective fictions. For over 10 yrs, my check list has recorded over 500 books, mostly by authors from Japan, the UK, and the USA. <a href="https://ja.wikipedia.org/wiki/%E8%A5%BF%E6%BE%A4%E4%BF%9D%E5%BD%A6" target="_blank"><b>西澤保彦</b></a> is my idol, <a href="https://ja.wikipedia.org/wiki/%E5%AE%AE%E9%83%A8%E3%81%BF%E3%82%86%E3%81%8D" target="_blank"><b>宮部 みゆき</b></a> and <a href="https://en.wikipedia.org/wiki/Josephine_Tey" target="_blank"><b>Josephine Tey</b></a> are among my favourite (recently). I enjoy every genre without significant preference.</li>
        </ul>
    <h4 style="margin-bottom:0px;padding-top:10px;">Philosophy</h4>
        <ul>
          <li> I read some. Recently I admire <a href="https://en.wikipedia.org/wiki/Karl_Popper" target="_blank"><b>Karl Popper</b></a> most on his defence of liberal democracy and the principles of social criticism.</li>
        </ul>
    <h4 style="margin-bottom:0px;padding-top:10px;">Games</h4>
        <ul>
          <li> I am a big fun of games from <b>Paradox</b> (Hearts of Iron and Europa Universalis particularly) and <b>Creative Assembly</b> (Total War series).</li>
        </ul>
</div>



</div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->
<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
