<!doctype html>
<html lang="en">
<head>
{% include _head.html %}
</head>
<body>
{% include _navigation.html %}

<h2>Personal Projects</h2>

<ul>
{% for project in site.projects %}
  {% if project.category == "Personal" %}
    <li>
      {% if project.external_url %}
        <a href="{{ project.external_url }}" target="_blank">{{ project.title }}</a>
      {% else %}
        <a href="{{ project.url }}">{{ project.title }}</a>
      {% endif %}
      <p>{{ project.excerpt }}</p>
    </li>
  {% endif %}
{% endfor %}
</ul>

<h2>Work Samples</h2>


{% for project in site.projects %}
  {% if project.category == "Samples" %}
    <div class="project">
      <h2><a href="{{ project.url }}">{{ project.title }}</a></h2>
      {% if project.image %}
        <div class="project-image">
          <a href="{{ project.url }}">
            <img src="{{ project.image }}" alt="{{ project.title }}">
          </a>
        </div>
      {% endif %}
      <p>{{ project.excerpt | markdownify }}</p>
      <a href="{{ project.url }}" class="read-more">Read More</a>
    </div>
  {% endif %}
{% endfor %}

{% include _footer.html %}
</body>
</html>
